.iso-otsikko { 
    color: #2F4F4F; 
    font-family: sans-serif;
}

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}


* { 
    color: #808080; 
}


li { 
    color: #808080; 
}

#punainen { 
    color: red; 
}

h2 {
    color: #666666;
}

h3 {
    color: #666666;
}

a {
    color: blue;
}



