.first-box {
  width: 200px;
  height: 100px;
  background-color: red;
  border-style: solid;
  border-width: 10px;
  border-color: green;
  text-transform: uppercase;
  text-align: center;
  color: blue;
  font-family: Arial;
}

.second-box {
  width: 200px;
  height: 100px;
  background-color: yellow;
  position: relative;
  left: 250px;
  bottom: 116px;
  border-style: solid;
  border-width: 10px;
  border-color: red;
  text-transform: uppercase;
  text-align: center;
  color: blue;
  font-family: Arial;
  line-height: 50px;
}

.third-box {
  width: 200px;
  height: 100px;
  background-color: green;
  position: relative;
  left: 500px;
  bottom: 232px;
  border-style: solid;
  border-width: 10px;
  border-color: yellow;
  text-transform: uppercase;
  text-align: center;
  color: blue;
  font-family: Arial;
  line-height: 50px;
}
