.first-box {
  width: 200px;
  height: 100px;
  background-color: red;
}

.second-box {
  width: 200px;
  height: 100px;
  background-color: yellow;
  position: relative;
  left: 250px;
  bottom: 116px;
}

.third-box {
  width: 200px;
  height: 100px;
  background-color: green;
  position: relative;
  left: 500px;
  bottom: 232px;
}
